<?xml version="1.0" encoding="UTF-8" ?>
<phpunit
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/10.5/phpunit.xsd"
        bootstrap="./vendor/autoload.php"
        colors="true"
        stopOnFailure="true"
>

    <php>
        <env name="CONSUL_HTTP_ADDR" value="127.0.0.1:8500"/>
        <env name="CONSUL_HTTP_SSL" value="0"/>
    </php>

    <testsuites>
        <testsuite name="usage-config">
            <file>./tests/Usage/ConfigUsageTest.php</file>
        </testsuite>
        <testsuite name="usage-request">
            <file>./tests/Usage/RequestUsageTest.php</file>
        </testsuite>

        <testsuite name="usage-acl">
            <directory>./tests/Usage/ACL</directory>
        </testsuite>

        <testsuite name="usage-agent">
            <directory>./tests/Usage/Agent</directory>
        </testsuite>
<!--        <testsuite name="usage-catalog">-->
<!--            <directory>./tests/Usage/Catalog</directory>-->
<!--        </testsuite>-->
<!--        <testsuite name="usage-coordinate">-->
<!--            <directory>./tests/Usage/Coordinate</directory>-->
<!--        </testsuite>-->
<!--        <testsuite name="usage-kv">-->
<!--            <directory>./tests/Usage/KV</directory>-->
<!--        </testsuite>-->
<!--        <testsuite name="usage-operator">-->
<!--            <directory>./tests/Usage/Operator</directory>-->
<!--        </testsuite>-->
<!--        <testsuite name="usage-session">-->
<!--            <directory>./tests/Usage/Session</directory>-->
<!--        </testsuite>-->

<!--        <testsuite name="usage-random">-->
<!--            <directory>./tests/Usage/Random</directory>-->
<!--        </testsuite>-->
    </testsuites>
</phpunit>
